* {
	box-sizing: border-box;
}

:root {
	--text-dark: #000;
	--text-light: #fff;
	--bg-main: #f1f1f1;
	--light-green: #fcfff5;
	--nav-link: #6c735c;
	--green: #198754;
}

html {
	font-family: 'Roboto', sans-serif;
}

.topnav {
	background: url("../media/unsplash (13).jpg") center/cover no-repeat;
}

.banner {
	overflow: hidden;
}

.navbar {
	font-size: 1.5rem;
}

.navbar a {
	margin-right: 3rem;
}

#searchBox {
	width: 100%;
}

#searchBox input {
	border-radius: 3em 0 0 3em;
}

#searchBox button {
	width: 40%;
	border-radius: 0 3em 3em 0;
}

main .card {
	width: 15rem;
}

main .card a, footer a {
	text-decoration: none;
}

main .card a {
	color: var(--text-dark);
}

footer a, footer a:hover {
	color: var(--text-light);
}

#login {
	width: 80vw;
	box-shadow: 2px 2px 5px #000;
}

.about, .error {
	padding: 6rem;
}

.about-intro p {
	padding: 3rem;
}

.about-details {
	background: var(--bg-main);
}

.our-strength {
	width: 21rem;
	padding: 3rem;
	text-align: center;
}

.our-strength i {
	font-size: 6rem;
	color: var(--green);
}

.our-strength p {
	text-align: justify;
}

.footer-item {
	margin-right: 12rem;
}

#admin {
	min-height: 100vh;
}

#admin aside {
	position: fixed;
	height: 100vh;
	box-shadow: 0 2px 5px #000;
}

#admin aside a {
	text-decoration: none;
}

#admin aside h5, #admin aside a, #admin aside i, #admin aside hr {
	color: #fff;
	line-height: 2.1rem;
}

#admin header {
	box-shadow: 2px 0 5px #000;
}

@media screen and (min-width: 992px) {
	#searchBox {
		width: 30%;
	}
	
	#searchBox button {
		width: 30%;
	}

	#login {
		width: 50vw;
	}
}